#!/usr/bin/env ruby

# --------------------------
# Stylesheets
# --------------------------
passthrough '/css/*.css'

compile '/css/*.scss' do
  filter :sass, syntax: :scss
  filter :relativize_paths, type: :css
  write item.identifier.without_ext + '.css'
end

# --------------------------
# Images
# --------------------------
passthrough '/img/**/*'

# --------------------------
# Javascripts
# --------------------------
passthrough '/js/**/*'

# --------------------------
# Content
# --------------------------
compile '/guides/*.html' do
  filter :erb
  filter :kramdown
  filter :relativize_paths, type: :html
  layout '/guides.*'
end

compile '/guides/core/*.html' do
  filter :erb
  filter :kramdown
  filter :relativize_paths, type: :html
  layout '/guides.*'
end

compile '/guides-1.13/*.html' do
  filter :erb
  filter :kramdown
  filter :relativize_paths, type: :html
  layout '/guides.*'
end

compile '/*.html' do
  filter :erb
  filter :kramdown
  filter :relativize_paths, type: :html
  layout '/default.*'
end

route '/guides/*.html' do
  item.identifier.to_s
end

route '/guides/core/*.html' do
  item.identifier.to_s
end

route '/guides-1.13/*.html' do
  item.identifier.to_s
end

route '/index.html' do
  item.identifier.to_s
end

route '/download.html' do
  '/download/index.html'
end

layout '/**/*', :erb
