@mixin clearfix {
  // http://nicolasgallagher.com/micro-clearfix-hack/
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after { clear: both; }
}

@mixin border-radius($rad: 2px) {
  -webkit-border-radius: $rad;
     -moz-border-radius: $rad;
          border-radius: $rad;
}

@mixin border-box {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@mixin ease-out($time: 0.5s) {
  -webkit-transition: all $time ease-out;
     -moz-transition: all $time ease-out;
       -o-transition: all $time ease-out;
}

@mixin box-shadow($horizOffset: 0px, $vertOffset: 0px, $blurDist: 0px, $spreadDist: 0px, $color: #000) {
  -webkit-box-shadow: $horizOffset $vertOffset $blurDist $spreadDist $color;
     -moz-box-shadow: $horizOffset $vertOffset $blurDist $spreadDist $color;
          box-shadow: $horizOffset $vertOffset $blurDist $spreadDist $color;
}

@mixin inset-box-shadow($horizOffset: 0px, $vertOffset: 0px, $blurDist: 0px, $spreadDist: 0px, $color: #000) {
  -webkit-box-shadow: inset $horizOffset $vertOffset $blurDist $spreadDist $color;
     -moz-box-shadow: inset $horizOffset $vertOffset $blurDist $spreadDist $color;
          box-shadow: inset $horizOffset $vertOffset $blurDist $spreadDist $color;
}

@mixin mobile {
  @media (max-width: 630px) {
    @content;
  }
}


%whitebox {
  // A pretty white box with a light gray border
  // Things such as padding can easily be overridden

  @include border-box;
  @include border-radius(2px);
  @include clearfix;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px 30px 30px;
}

@mixin bold($font_size: 1em) {
  font-size: $font_size;
  font-weight: bold;
}
