$baseFontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$codeFontFamily: 'Courier New', 'Courier', monospace;

$med-gray: #ccc;
$red:      #CD0000;

$light-gray-azure: #DADFE6;
$steelblue4:       #36648B;

$pale-green:    #9AFF9A;
$darksee-green: #D8FFD8;
$seegreen4:     #2E8B57;

$dimgray:    #696969;
$text-light: $dimgray;
$gray87:     #DEDEDE;

$orchid:     #8B4789;

$primary-light: lighten($darksee-green,2);
$primary-dark:  $seegreen4;
$primary-dark-darkened: darken($primary-dark,5);

$secondary-light: $gray87;

$contrast:      $orchid;
$contrast-dark: darken($contrast,10);