$baseFontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$codeFontFamily: 'Courier New', 'Courier', monospace;

$light-gray: #f9f9f9;
$med-gray:   #ccc;
$dark-gray:  #2c2c2c;
$gray-text:  #333; //404040
$light-text: lighten($gray-text, 15);

$blue: #119EE7;

$orange:      #FF5D55;
$dark-orange: #E7503F;

$red: #ed2d23;
