$baseFontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$codeFontFamily: 'Courier New', 'Courier', monospace;

$med-gray:   #ccc;

$light-gray-azure: #DADFE6;
$orchid: #8B4789;

$red: #CD0000;
