<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @item[:title] %> | Graph for Scala</title>
    <link rel="stylesheet" type="text/css" href="/css/cheeky.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/main.css" media="screen">
  </head>
  <body>

    <header>
      <div class="container">
        <div class="row">
          <div class="span-16">
            <h1><a href="/">Graph for Scala</a></h1>
            <nav>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/download">Download</a></li>
                <li><a href="/guides">User Guides</a>
                <li><a href="https://github.com/scala-graph/scala-graph" target="_blank">GitHub</a>
                <!-- <li><a href="http://www.scala-graph.org/core/api/" target="_blank">Scaladoc</a></li> -->

                <li>
                  <a href="#" class="dropdown-toggle">Scaladoc</a>
                  <div class="dropdown-container">
                    <ul>
                      <li><a href="#">one</a></li>
                      <li><a href="#">two</a></li>
                      <li><a href="#">three</a></li>
                      <li><a href="#">four</a></li>
                    </ul>
                  </div>
                </li>

                <li><a href="https://groups.google.com/forum/?fromgroups#!forum/scala-graph" target="_blank">Mailing List</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="row">

        <div class="span-14 offset-1 content">
          <%= yield %>
        </div>

      </div>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="span-16">
            <p>&copy; the Graph for Scala team. Site by <a href="http://andrewberls.com">Andrew Berls</a></p>
          </div>
        </div>
      </div>
    </footer>

    <script src="/js/lib/jquery-1.9.1.min.js"></script>
    <script src="/js/dropdown.js"></script>

  </body>
</html>
