@import "variables";
@import "mixins";

// Baseline
// --------------------------
html {
  overflow-y: scroll;
}
body {
  color: black;
  font-family: $baseFontFamily;
  font-size: 15px;
  text-rendering: optimizeLegibility;
}
html, body {
  height: 100%;
}
.sticky {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -3.2em;
}
.footer, .push {
  height: 4em;
}
body > .container, .sticky > .container { margin: 25px auto 0;
}
@include mobile {
  body .container { padding: 0 5px; }
}
.left { float: left }
.right { float: right }

.red { color: $red; }

// Typography
// --------------------------
h1 {
  @include bold(1.3em);
  text-align: center;
  color: $primary-dark-darkened;
  margin-bottom: 0px;
}
h1 + p {
  padding-top: 15px;
}
h2 {
  font-size: 1.3em;
  color: white;
  margin: 15px 0 15px;
  padding: 1px;
  background-color: $primary-dark;
}
h3 {
  @include bold(1.2em);
  margin: 15px 0 10px;
  border-bottom: 1px solid black;
}
strong { font-weight: bold;
}
em { font-style: italic;
}
#G4S {
  color: darken($contrast,12);
}
p {
  margin-bottom: 10px;
  line-height: 1.4;
}
a {
  color: $primary-dark-darkened;
  &:hover { color: darken($contrast,10); }
}
figcaption {
  margin-top: 2px;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: bold;
}
caption {
  caption-side: bottom;
  text-align: left;
  margin-top: 2px;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: bold;
}

// Common for Header and Footer
// --------------------------
header, header * div, header * span, header * nav,
footer, footer * div, footer * p  {
  background-color: $contrast;
  color: white;
}
header * a,
footer * a  {
  text-decoration: none;
  color: white;
  &:hover {
    color: white; 
    text-decoration: underline; }
}

// Header
// --------------------------
header {
  #logo {
    float: left;
    font-size: 1.5em;
    font-style: italic;
    background-color: $primary-light;
    a {
      color: black;
      display: inline-block;
      margin-right: 5px;
      padding: 8px 10px;
      &:hover { text-decoration: underline; }
    }
  }
  nav {
    float: left;
    margin-left: 20px;
    margin-top: 5px;
  }
  nav li {
    display: inline-block;
    margin: 0;
    position: relative;

    a {
      display: inline-block;
      float: left;
      font-size: 1.0em;
      margin-right: 5px;
      padding: 8px 10px;
    }
  }
}

// Sidebar
// --------------------------
.sidebar {
  a {
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }
  ul {
    padding-left: 17px;
    list-style-position: outside; 
    list-style-image: url(/img/arrow-right.png);
  }
  li {
    color: $primary-dark-darkened;
    margin: 0 0 7px 7px;
  }
}

// Content
// --------------------------
.content {
  @extend %whitebox;

  code,
  pre {
    @include border-radius;
    border: none !important;
    color: black;
    font-family: $codeFontFamily;
  }
  code {
    font-size: 0.9em;
    background-color: $secondary-light;
    padding: 1px 2px;
  }
  pre {
    font-size: 0.9em;
    line-height: 1.4;
    background-color: white;
    margin-bottom: 15px;
    padding: 10px 15px !important;
    code {
      // Undo extra code stylings in markdown-fenced blocks
      background: none;
      padding: 0;
    }
  }
}
table {
  background-color: white;
  border-collapse: separate;
  text-align: left;
  margin-bottom: 20px;
  width: 100%;

  th, td {
    @include border-box;
    border: 1px solid $med-gray;
    border-top: 0;
    border-right: 0;
    padding: 2px;

    &:last-child {
      border-right: 1px solid $med-gray;
    }
  }
  tr:first-child td {
    border-top: 1px solid $med-gray !important;
  }
  tr.split td {
    width: 50%;
  }
}
ol { list-style: decimal; padding-bottom: 10px; }
ul { list-style: disc; }
li { margin-left: 30px; }
.grammar {
    font-size: 0.9em;
    font-family: $codeFontFamily;
}
.grammar td {
    border-style: none;
    outline: none;
}

// Footer
// --------------------------
footer {
  @include border-box;
  font-size: 0.9em;
  margin-top: 15px;
  padding: 7px;

  p { margin: 0; }
}

// Dropdown
// --------------------------
.dropdown-container {
  display: none;
  position: absolute;
  top: 35px; left: 5px;

  ul {
    @include border-radius(2px);
    border: 1px solid darken($contrast,12);
    border-bottom: none;
  }
  li {
    display: block;
    white-space: nowrap;
    a {
      background-color: white;
      border-bottom: 1px solid darken($contrast,12);
      color: darken($contrast,12);
      display: block;
      float: none;
      margin: 0;
      padding: 4px 10px;
      &:hover {
        text-decoration: underline;
      }
    }
    p {
      margin: 0;
      padding: 4px 10px;
      text-align: center;
    }
  }
}

// Table Specialties
// --------------------------
.rightAligned {
  td { text-align: right; }
}